---
layout: null
title: Home
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="front-content">
      <div class="row front-content-header" style="margin-bottom:0px;">
        <div class="col s12 front-nav">
          <ul class="tabs">
            <li class="tab col s3"><span><a href="/about" title="About me, writing this takes most of the time."><span class="ion-person icon-black"></span><span class="hide-on-small-only">&nbsp;About</span></a></span></li>
            <li class="tab col s3"><span><a href="/blog" title="Atricles, right from my untold drafts."><span class="ion-ios-paper icon-black"></span><span class="hide-on-small-only">&nbsp;Articles</span></a></span></li>
            <li class="tab col s3"><span><a href="/projects" title="Projects, out of thin air."><span class="ion-social-github icon-black"></span><span class="hide-on-small-only">&nbsp;Projects</span></a></span></li>
            <li class="tab col s3"><span><a href="/quotes" title="Sayings, that can inspire you."><span class="ion-quote icon-black"></span><span class="hide-on-small-only">&nbsp;Quotes</span></a></span></li>
          </ul>
        </div>
      </div>

      <div>
        <div class="container valign">
          <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l3 center-align" style="color:#4B4F4D;">
              <h2>Pravendra Singh</h2>
            </div>

            <div class="col s12 m6 offset-m3 l6 offset-l3">
              <div class="divider"></div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l3 center-align front-social-presence-icons">
              {% for contact in site.data.contacts %}
              <a target="_blank" title="{{contact.service}}" href="{{contact.address}}"><span class="{{contact.icon}}"></span></a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3">
        <h6>
          <a href="/blog/indian-ecommerce"><b>Breaking into the Indian E-commerce</b></a>
        </h6>
      </div>

      <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3 center-align">
        <div class="card small">
          <div class="card-image">
            <img src="/assets/cards/ecommerce.png">
          </div>
          <div class="card-content" style="height:60px; overflow:hidden;">
            <p>Let's find out how India shops and how big is Myntra.</p>
          </div>
          <div class="card-action" style="padding:0px;">
            <ul class="featured-list">
              <li>
                <img src="/assets/featured/tech-in-asia.png" alt="Tech in Asia" title="Tech in Asia" onclick="openFeatured('https://www.techinasia.com/talk/breaking-indian-ecommerce-space');">
              </li>
              <li>
                <img src="/assets/featured/python-weekly.png" alt="Python Weekly Newsletter" title="Python Weekly Newsletter" onclick="openFeatured('http://eepurl.com/bJ621z');">
              </li>
              <li>
                <img src="/assets/featured/datatau.png" alt="DataTau" title="DataTau" onclick="openFeatured('http://www.datatau.com/item?id=10673');">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3">
        <h6>
          <a href="/blog/bangalore-taxis"><b>Jump in to ride all the Bangalore taxis, at once</b></a>
        </h6>
      </div>

      <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3 center-align">
        <div class="card small">
          <div class="card-image">
            <img src="/assets/cards/taxis.png">
          </div>
          <div class="card-content">
            <p>Tracking all the taxis in Bangalore by a particular taxi aggregator service.</p>
          </div>
          <div class="card-action" style="padding:0px;">
            <ul class="featured-list">
              <li>
                <img src="/assets/featured/twitter.png" alt="Twitter" title="Twitter" onclick="openFeatured('https://twitter.com/jackerhack/status/638724698914713600');">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3">
        <h6>
          <a href="/blog/open-source-presence-infographic/"><b>Open Source Presence Infographic of Indian Startups</b></a>
        </h6>
      </div>

      <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3 center-align">
        <div class="card small">
          <div class="card-image">
            <img src="/assets/cards/ospi.png">
          </div>
          <div class="card-content">
            <p>A report that compares leading organizations on the Open Source scale.</p>
          </div>
          <div class="card-action" style="padding:0px;">
            <ul class="featured-list">
              <li>
                <img src="/assets/featured/wingify-engineering.png" alt="Wingify Engineering" title="Wingify Engineering" onclick="openFeatured('http://engineering.wingify.com/posts/opensource-at-wingify/');">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% include analytics.html %}

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.modal-trigger').leanModal();
      });

      $('.front-nav a').click(function() {
        window.location.href = this;
      });

      // open the 'url' in new tab
      function openFeatured(url) {
        window.open(url, '_blank');
      }
    </script>

  </body>
</html>
