<div class="container">
  <div class="row zero-bottom-margin">
    <div class="col s12 m6 l6 center-align">
      <h5><a class="navigation" href="/">Pravendra Singh</a></h5>
    </div>

    <div class="col s12 m6 l6 center-align">
      <div class="row">
        <div class="col s12">
          <ul>
            <li class="tab col s3"><span><a class="navigation" href="/about" title="About me, writing this takes most of the time."><span class="ion-person icon-black"></span></a></span></li>
            <li class="tab col s3"><span><a class="navigation" href="/blog" title="Atricles, right from my untold drafts."><span class="ion-ios-paper icon-black"></span></a></span></li>
            <li class="tab col s3"><span><a class="navigation" href="/projects" title="Projects, out of thin air."><span class="ion-social-github icon-black"></span></a></span></li>
            <li class="tab col s3"><span><a class="navigation" href="/quotes" title="Sayings, that can inspire you."><span class="ion-quote icon-black"></span></a></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
